
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    background-color:#f4f4f4;
    color:#052334;
    font-family:'opensans','Arial','sans-serif';
    font-weight:400;
    font-size: 20px;
    text-rendering: optimizeLegibility;

}
/*-----------------------------------
/*reusable components*/
/*-----------------------------------*/

.row{
    max-width:1140px;
    margin: 0 auto 0 auto;/*zoom:1; to center the container within the container*/ 
    
}
section{
    clear:both;
    padding: 80px 0;/* to define space for each sections*/
    
}

    .box{
        padding:1%;
    }